*{ /*herunder er bodystle på nav-bar nulstillet*/
    box-sizing:border-box;
}

body{
    background-image: linear-gradient(-90deg, #6988e7, #374778);
    font-family: Bangla Sangam MN;
    margin: 0;
    padding: 0;

}

.topnav{
    width: 100%;
    overflow: hidden;
}

.topnav ul{
    list-style: none; /*Fjerner prikker på liste */
    margin: 30px;
    padding: 0px;
    text-align: right;
}

.topnav li {
    display: inline-block;
}

.topnav li a{
    width: 100%;
    text-decoration: none;
    display: inline-block;
    color: #000000;
    font-size: 20px;
    text-align: center;
    padding: 5px 15px;

}
.nehmaplogo img{
    float: left;
    list-style: auto;
    position: relative;
    margin: 10px 15px 15px 10px ;

}

.topnav li:hover{
    color: black;
    border-bottom: 2.5px solid black;
}

.topnav a:hover{
    color: black;
    font-weight: bold;
    font-style: italic;
}



    footer {
        background-color: #a7b3d8;
        color: #000000;
        width: 100%;
        text-align: left;
        padding: 10px 10px 0px 10px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        bottom: 0;
        position: fixed;
    }
    
    footer > p {
        float: left;
        margin: 0 5px;
        margin-bottom: 4px;
        font-size: 15px;
      }
    
    .nehmapicon{
        float: left;
        display: flex;
        justify-content:left;
        align-content: left;
    
    }
    
    .social-footer-left{
        padding-left: 1rem;
        display: flex;
        align-items: left;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .social-icons{
        display: flex;
        align-content: left;
        justify-content: left;
        list-style-type: none;
        margin: 0 -55px;
    }
    
    @media screen and (min-width:600px){
        
    }