*{ /*herunder er bodystle på nav-bar nulstillet*/
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.topnav {
    display: flex; /* Gør at topnav-boksen bliver en flexbox --> giver muligheder for at rykke komponenter i pgl. box */
    align-items: center; /*Gør at topnav aligner efter midten af headerbackground */
    width: 100%; 
    height: 100%;
    justify-content: right; /*Rykker tekst til højre side */
}
.topnav ul { /* Dette gør at den KUN styler liste i topnav */
    display: flex; /* Flexbox gør ALTID at den styler vandret */
    list-style-type: none; /*Fjerner prikker på liste */
}
.topnav ul li {
    padding: 30px;
    margin-top: 10px;
}
.header-background a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    }
body{
    background-color: #6988e7;
    background-image: linear-gradient(90deg, #696969, #001833)
}
.icon{
    width: 100px;
    height:auto;
    margin-right: 380px;
    margin-top: 10px;
}